* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.wrap {
    padding: 20px 60px;
}

.fonts {
    font-size: 12px;
    line-height: 18px;
}

.lines_blk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    gap: 15px;
}

.lines_blk div {
    height: 1px;
    width: 30px;
    background: #ECECED;
}

.big_images {
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
}

.big_images:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.bigger_prices {
    font-size: 19px;
}

.smaller_prices {
    font-size: 16px;
}

.line-through {
    text-decoration-line: line-through;
}

.like_gray_color {
    color: rgba(29, 31, 46, 0.7);
}

.like_red_color {
    color: #A25F4B;
}

.smaller_images {
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
}

.smaller_images:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.blockItem {
    display: grid;
    text-align: center;
    margin-top: 65px;
    min-width: 150px;
}

.titlePhoto {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    text-align: center;
}

.titlePhoto .item {
    margin: 65px 0 115px;
}

.photo-wrapper {
    display: grid;
    justify-content: center;
}

.photoCollection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 17px;
}

.active {
    display: none;
}
