* {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.wrap {
    padding: 20px 60px;
}

.fonts {
    font-size: 12px;
    line-height: 18px;
}

.lines_blk {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    gap: 15px;
}

.lines_blk div {
    height: 1px;
    width: 30px;
    background: #ECECED;
}

.big_images {
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
    transition: 0.4s;
}

.big_images:hover {
    transform: scale(1.05);

}

.bigger_prices {
    font-size: 19px;
}

.smaller_prices {
    font-size: 16px;
}

.line-through {
    text-decoration-line: line-through;
}

.like_gray_color {
    color: rgba(29, 31, 46, 0.7);
}

.like_red_color {
    color: #A25F4B;
}

.smaller_images {
    width: 100%;
    cursor: pointer;
    margin-bottom: 35px;
    transition: 0.4s;
}

.smaller_images:hover {
    transform: scale(1.05);

}

.blockItem {
    display: grid;
    text-align: center;
    margin-top: 65px;
    min-width: 150px;
}

.titlePhoto {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    text-align: center;
}

.titlePhoto .item {
    margin: 65px 0 80px;
}

.photo-wrapper {
    display: grid;
    justify-content: center;
}

.photoCollection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 17px;
}

.activee {
    display: none;
}

.container {
    margin: 100px 0;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-gap: 10%;
}

.container .photos_container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 30px;
}

.container .photos_container div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .text_n_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    flex-wrap: wrap;
}

.container .text_n_button .button {
    color: white;
    background-color: #1D1F2E;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 24px;
    width: 173px;
    height: 36px;
    border: none;
    transition: 0.5s;

}

.container .text_n_button .button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.big_font {
    font-size: 36px;
    line-height: 50px;
}

.images{
    transition: 0.5s;
}

.images:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.small_images{
    transition: 0.5s;
}

.small_images:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.mySlides {
    display: none
}

.slideshow-container {
    max-width: 950px;
    position: relative;
    margin: auto;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.center{
    text-align: center;

}

.slide_img{
    width: 100%;
}

.active, .dot:hover {
    background-color: #717171;
    transition: 1s;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

